<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css"> 
    </head>

    <body>
        <div class="main-container">
            {{>header}}
            <h3>About the Creator</h3>
            <p>Application is created by Atharv Bakre, API for weather forecast is Weather API.</p>
            <img class="portrait" src="/img/robot.png">
        </div>

        {{>footer}}
    </body>

</html>