<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css"> 
    </head>

    <body>
        <div class="main-container">
            {{>header}}
            <p>Web application is used to get Weather forecast for any valid Locations</p>
        </div>

        {{>footer}}
    </body>

</html>